#WeatherMain{
    background-image: url(https://www.pexels.com/photo/island-during-golden-hour-and-upcoming-storm-1118873/);
    display:block;
    border-radius: 10px;
    width: 250px;
    height: 300px;
    background-color:darkblue;
    padding-bottom: 17px;
    text-align: center;
    padding-top: 50px;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: linear-gradient(180deg, rgba(0,0,0,1)0% rgba(8,7,42,1));
    margin-left:210px;
    border:8px solid black
}

.weatherWidgetRow{
    display: block;
    margin: 0 auto;
    width: fit-content;
}
.weatherWidgetRow1{
    font-size: 42px;
    margin-top: 5px;
}
.weatherWidgetRow2{
    font-size: 15px;
}
.weatherWidgetRow3{
    font-size: 16px;
    padding-bottom: 15px;
}
.weatherWidgetRow4{
    font-size: 25px;
    margin-top: 10px;
}
.weatherWidgetRow5{
    font-size: 14px;
    padding-top: 5px;
}
.fa-solid{
   font-size: 50px;
}

.container{
    position: absolute;
    left:600px;
    top: 200px;
}
.weather-form{
    position: absolute;
    left:818px;
    top: 160px;
    
}
.btn{
    background-color: rgb(35, 30, 30);
    border-radius: 5px;
    margin-left: 5px;
    color:white;
    height: 30px;
}
.input{
   height: 24px;
}